In [5]:
import numpy as np
import pandas as pd
import os,sys
from sklearn.preprocessing import MinMaxScaler
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [6]:
df=pd.read_csv('/content/pd_speech_features.csv')
df.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

Get the features and labels from the dataframe.

In [8]:
features=df.loc[:,df.columns!='status'].values[:,1:]
labels=df.loc[:,'class'].values

Get the count of each label (0 and 1) in labels

In [9]:
print(labels[labels==1].shape[0],labels[labels==0].shape[0])

564 192

We have 564 ones and 192 zeroes

Initialize the MinMaxcaler and scale the features to between -1 and 1 to normalize them.

In [10]:
scaler=MinMaxScaler((-1,1))
x=scaler.fit_transform(features)
y=labels

Split the dataset into training and testing(20%)

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=7)

Initialize XGBClassifier and train the model.

Train the model

In [12]:
model=XGBClassifier()
model.fit(x_train,y_train)

XGBClassifier()

Calculate the accuracy

In [13]:
y_pred=model.predict(x_test)
print(accuracy_score(y_test,y_pred)*100)

100.0